<?xml version="1.0"?>
<xacro:macro xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_gazebo">

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find robot_description)/config/ros2_controller.yaml</parameters>
      </plugin>
    </gazebo>

    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <ros>
                <argument>odom:=odom/ground_truth</argument>
            </ros>

            <body_name>base_link</body_name>
            <frame_name>world</frame_name>
            <update_rate>1000.0</update_rate>
            <xyz_offset>0 0 0</xyz_offset>
            <rpy_offset>0 0 0</rpy_offset>
            <gaussian_noise>0.00</gaussian_noise>
        </plugin>
    </gazebo>


    <joint name="base_imu" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="base_imu"/>
    </joint>
    <link name="base_imu">
        <inertial>
            <mass value="0.01"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.004"/>
            </geometry>
        </visual>
        <material name="orange">
            <color rgba="255 108 10 255"/>
        </material>
    </link>

    <gazebo reference="base_imu">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="base_imu_joint">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
    <gazebo reference="base_imu">
        <sensor name="imu_controller" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <plugin name="gazebo_ros_imu_sensor" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <namespace>/imu</namespace>
                    <argument>~/out:=data</argument>
                </ros>
            </plugin>
        </sensor>
    </gazebo>

    <!-- ~~~~~~~~~~~~~~~~~ upper body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <gazebo reference="lumber_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="lumber_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="lumber_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="left_shoulder_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_shoulder_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_shoulder_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_elbow_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_elbow_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_wrist_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_wrist_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_shoulder_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_shoulder_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_shoulder_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_elbow_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_elbow_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_wrist_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_wrist_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <!-- ~~~~~~~~~~~~~~~~~ upper body link end ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~ left leg ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <gazebo reference="left_hip_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_hip_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_hip_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_knee_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_ankle_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="left_ankle_roll">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0" />
        <kd value="100.0" />
    </gazebo>
    <!-- ~~~~~~~~~~~~~~~~~ left leg end ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


    <!-- ~~~~~~~~~~~~~~~~~ right leg ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <gazebo reference="right_hip_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_hip_roll">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_hip_yaw">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_knee_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_ankle_pitch">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="right_ankle_roll">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0" />
        <kd value="100.0" />
    </gazebo>
    <!-- ~~~~~~~~~~~~~~~~~ right leg end ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

</xacro:macro>
